/* Navbar Container */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #4f46e5;
    color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .navbar .logo a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .nav-links {
    display: flex;
    gap: 1.5rem;
    list-style: none;
    margin: 0;
    align-items: center;
  }
  
  .nav-links li a,
  .nav-links li button {
    color: #ffffff;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    background: none;
    border: none;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
  }
  
  .nav-links li a:hover,
  .nav-links li button:hover {
    color: #d1d5db;
  }
  
  
  
  /* Logout Button */
  .logout-btn {
    background-color: #ffffff;
    color: #4f46e5;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .logout-btn:hover {
    background-color: #d1d5db;
  }
  